{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "airbnb-base",
    "rules": {
        "class-methods-use-this": 0,
        "no-restricted-syntax": 0,
        "no-param-reassign": 0,
        "no-await-in-loop": 0,
        "no-return-await": 0,
        "no-continue": 0,
        "no-bitwise": 0,
        "no-tabs": 0,
        "global-require": 0,
        "import/no-dynamic-require": 0,
        "object-curly-newline": ["error", { "ObjectPattern": { "multiline": true } }],
        "max-len": ["error", { "code": 120, "ignoreTemplateLiterals": true, "ignoreStrings": true }],
        "no-unreachable": 2,
        "no-unused-vars": ["error", { "vars": "all", "args": "none", "argsIgnorePattern": "_" }],
        "no-shadow": ["error", { "allow": ["_"] }],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "semi": ["error", "always"],
        "camelcase": ["error", { "properties": "never", "ignoreDestructuring": true }],
        "comma-dangle": ["error", "only-multiline"],
        "indent": [ "error", "tab" ],
        "linebreak-style": [ "error", "unix" ]
    }
}
